params {
    input_dir='./data/'
    input_design='./InputFiles.csv'
}

process {
    container= ''
    withLabel: 'local' {          //not used at the moment
      executor = 'local'         //jobs with this labels will be executed locally (typically trivial jobs)
   }
   withLabel: 'noContainer' {    //not used at the moment
      container = ''             //jobs not requiring any container
   }
}