params {
    input_dir='./data/'
    input_design='./InputFiles.csv'

    trim_galore_options='--nextseq 20 --illumina --gzip --paired --no_report_file --suppress_warn'
    clip_r1= 10
    clip_r2= 10
    three_prime_clip_r1= null
    three_prime_clip_r2= null
}

process {
    container= ''
    withLabel: 'local' {          //not used at the moment
      executor = 'local'         //jobs with this labels will be executed locally (typically trivial jobs)
   }
   withLabel: 'noContainer' {    //not used at the moment
      container = ''             //jobs not requiring any container
   }
}
singularity {
   enabled = true                //singularity mandatory options
   autoMounts = true             //singularity mandatory options
}

