params {
    input_dir='./data/'
    input_design='./InputFiles.csv'

    trim_galore_options='--nextseq 20 --illumina --gzip --paired --no_report_file --suppress_warn'
    clip_r1= 10
    clip_r2= 10
    three_prime_clip_r1= null
    three_prime_clip_r2= null

    sortmernaDB_ref='https://raw.githubusercontent.com/biocore/sortmerna/v4.3.4/data/rRNA_databases/rfam-5.8s-database-id98.fasta,https://raw.githubusercontent.com/biocore/sortmerna/v4.3.4/data/rRNA_databases/rfam-5s-database-id98.fasta,https://raw.githubusercontent.com/biocore/sortmerna/v4.3.4/data/rRNA_databases/silva-arc-16s-id95.fasta,https://raw.githubusercontent.com/biocore/sortmerna/v4.3.4/data/rRNA_databases/silva-arc-23s-id98.fasta,https://raw.githubusercontent.com/biocore/sortmerna/v4.3.4/data/rRNA_databases/silva-bac-16s-id90.fasta,https://raw.githubusercontent.com/biocore/sortmerna/v4.3.4/data/rRNA_databases/silva-bac-23s-id98.fasta,https://raw.githubusercontent.com/biocore/sortmerna/v4.3.4/data/rRNA_databases/silva-euk-18s-id95.fasta,https://raw.githubusercontent.com/biocore/sortmerna/v4.3.4/data/rRNA_databases/silva-euk-28s-id98.fasta'
}

process {
    container= ''
    withLabel: 'local' {          //not used at the moment
      executor = 'local'         //jobs with this labels will be executed locally (typically trivial jobs)
   }
   withLabel: 'noContainer' {    //not used at the moment
      container = ''             //jobs not requiring any container
   }
}
singularity {
   enabled = true                //singularity mandatory options
   autoMounts = true             //singularity mandatory options
}

